CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/technologic/ts7100/imximage-512m.cfg,MX6UL,DDR_MB=512,IMX_TYPE=\"ts7100-512m\""
CONFIG_ARM=y
CONFIG_TARGET_TS7100=y
CONFIG_DM=y
CONFIG_DM_THERMAL=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_SYS_PROMPT="U-Boot > "
CONFIG_TCP=y
CONFIG_CMD_WGET=y