CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/technologic/ts7970/ts7970-q-4g-800mhz-i.cfg,MX6Q,DDR_MB=3840,IMX_TYPE=\"ts7970-q-4g-800mhz-i\""
CONFIG_ARM=y
CONFIG_TARGET_TS7970=y
CONFIG_DM=y
CONFIG_DM_THERMAL=y
